<div class="teacher-view">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {{teacher.name}}
            </p>
            <div class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="material-icons">done</i>
                </span>
            </div>
        </header>
        <div class="card-content">
            <div class="content">
                {{teacher.UserName}}
            </div>
        </div>
        <footer class="card-footer"> 
            
            <a href="#" class="card-footer-item" v-on:click.prevent="editTeacher">Edit</a>
            <a href="#" class="card-footer-item" v-on:click.prevent="deleteTeacher">Delete</a>
        </footer>
    </div>
</div>