 
    <tr>
        <td class="table-row-active-background-color">
            {{student.name}}
        </td>
        <td class="table-row-active-background-color">
            {{student.sex}}
        </td>
        <td class="table-row-active-background-color">
            {{student.division}}
        </td>
        <td>
            <div class="buttons are-medium student-controls">
                <a href="#" class="button is-primary" v-on:click.prevent="editStudent">Edit</a>
                <a href="#" class="button is-primary" v-on:click.prevent="deleteTeacher">Delete</a>  
                 <a href="#" class="button is-primary" v-on:click.prevent="manageStudentMark">Enter mark</a>
            </div>

        </td>

    </tr>
 