.list-teacher-view
{
    padding: 50px;
    
    .create-teacher-button
    {
        margin: 25px;
    }
    
    .teacher-container
    {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-evenly;
    }
}