<div class="list-teacher-view">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <router-link to="/manageTeacher" class="button is-primary create-teacher-button">Create teacher</router-link>
        </div>
    </nav>
    <div> 
        <select >
            <option v-for="item in teachers" :value="item" :key="item.id">
              {{ item.name }}
            </option>
          </select> 
    </div>
    <div class="teacher-container">
        <teacherElement v-for="item in teachers" v-bind:key="item.id" v-bind:value="item"></teacherElement>
    </div>

   
</div>