<div class="manage-student-view">
    <h1 class="title">
        {{operation}}
    </h1>

    <form>
        <div class="field">
            <label class="label">Student Name</label>
            <div> <input class="input" type="hidden" v-model="studentName"></div>

            <div class="control">
                {{studentName}}
            </div>
        </div>
        <div class="field">
            <label class="label">subject</label>
            <div class="control">
                <div class="select">
                    <select v-model="subject">
                        <option v-for="item in subjects" v-bind:value="item.name">
                            {{ item.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Mark</label>
            <div class="control">
                <input class="input" type="text" v-model="mark" placeholder="Mark">
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" v-on:click.prevent="save">Save</button>
            </div>
            <div class="control">
                <router-link class="button is-link" to="/listStudent">Cancel</router-link>
            </div>
        </div>
    </form>

    <table class="table is-fullwidth table_mark">
        <tr>
            <td class="table-row-active-background-color is-primary">
                Name
            </td>
            <td class="table-row-active-background-color is-primary">
                Subject
            </td>
            <td class="table-row-active-background-color is-primary">
                Mark
            </td>

        </tr>
        <studentMark v-for="item in studentMarkEntry" v-bind:key="item.id" v-bind:value="item">

        </studentMark>
    </table>
</div>