.list-student-view
{
    padding: 50px;
    
    .create-student-button
    {
        margin: 25px;
    }
     .rightHeadStyle{
        text-align-last: right;
        padding-right: 12%;
     }
    .student-container
    {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-evenly;
    }
}