<div class="manage-teacher-view">
    <h1 class="title">
        {{operation}}
    </h1>

    <form>
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" v-model="name" placeholder="Name">
            </div>
        </div>
        <div class="field">
            <label class="label">UserName</label>
            <div class="control">
                <input class="input" type="text" v-model="userName" placeholder="UserName">
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" v-model="password" placeholder="Password">
            </div>
        </div>
       
        <div class="field">
            <label class="label"></label>
            <div class="control">
                Is Active: <input class="checkbox" type="checkbox" v-model="isAdmin">
            </div>
        </div>
        <div class="field">
            <label class="label">class In Charge</label>
        <div class="control">
          <div class="select">
            <select  id="selectClassInCharge"  v-model="classInCharge">
                <option v-for="item in divisions" v-bind:value="item.id" >
                  {{ item.name }}
                </option>
              </select> 
          </div>
        </div>
      </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" v-on:click.prevent="save">Save</button>
            </div>
            <div class="control">
                <router-link class="button is-text" to="/listTeacher">Cancel</router-link>
            </div>
        </div>
    </form>
</div>