<div class="contact-view" v-if="!contact.isDeleted">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {{contact.firstName}}
            </p>
            <div class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="material-icons">done</i>
                </span>
            </div>
        </header>
        <div class="card-content">
            <div class="content">
                {{contact.lastName}}
            </div>
        </div>
        <footer class="card-footer"> 
            <a href="#" class="card-footer-item" v-on:click.prevent="editContact">Edit</a>
            <a href="#" class="card-footer-item" v-on:click.prevent="deleteContact">Delete</a>
        </footer>
    </div>
</div>