<div class="manage-student-view">
    <h1 class="title">
        {{operation}}
    </h1>

    <form>
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" v-model="name" placeholder="Name">
            </div>
        </div>
        <div class="field">
            <label class="label">sex</label>
            <input type="radio" v-model="sex" value="Male">Male
            <input type="radio" v-model="sex" value="Female">Female

        </div>


        <div class="field">
            <label class="label">Division</label>
            <div class="control">
                <div class="select">
                    <select id="selectClassInCharge" v-model="division">
                        <option v-for="item in divisions" v-bind:value="item.id">
                            {{ item.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" v-on:click.prevent="save">Save</button>
            </div>
            <div class="control">
                <router-link class="button is-text" to="/listStudent">Cancel</router-link>
            </div>
        </div>
    </form>
</div>